
.dashboard{
    padding-top: 12%;
}

.username{
    font-weight: bolder;
    font-size: 40px;
}

.submit {
    width: 100%;
    max-width: 20%;
    cursor: pointer;
    border-radius: 10px;
    color: #ffff;
    background: #4CBF8F;
    border: 0;
    padding: 15px 10px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
  }

  .submit:hover{
    background: #ffff;
    color: #4CBF8F;
    border: 1px solid #4CBF8F;
  }