*{
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    color: #505050;
}

h1{
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 1.5;
    align-items: center;
    color: #0F261D;
}

.aboutus{
    padding-top: 3em;
}

.abouttext{
    line-height: 2;
}

.heroPage {
    margin-top: 80px;
    padding: 0 8%;
}

.abouttext p{
    text-align: left;
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    color: #1D1D2F;
    margin-right: 100px;
    line-height: 1.8;
}

.heropageImg {
    text-align: right;
}

/* Little story */

.littleStory{
    padding: 0 5%;
    background: url(./assets/vecto2.png);
}   

/* .littleStoryImg{
    width: 400px;
} */

 h3 {
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #0F261D;
    background-color: #F3FFFA;
}

@media screen and (max-width: 900px) {

    h1{
        font-weight: 700;
        font-size: 32px;
    }

    h3 {
      font-size: 28px;
      text-align: center;
    }

    .aboutus{
        padding-top: 1px;
    }

    .abouttext p{
        margin-right: 0px;
    }

    .abouttext{
        width: 100%;
    }
    
    .heropageImg,
    .littleStoryImg
     {
        text-align: center;
        width: 100%;
        margin-top: 30px;
        margin-left: 0px;
    }

    .heropageButton {
        text-align: center;
    }
}