*{
    font-family: 'Open Sans';
    font-style: normal;
    color: #505050;
}

.aboutus{
    margin: 0.5em;
    display: flex;
    flex-direction: column;
}
.about2{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 4em;

}   

h1{
    width: 591px;
    height: 131px;
    text-align: left;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    display: flex;
    align-items: center;
    color: #0F261D;
   
}

.abouttext p{
    width: 489px;
    height: 54px;
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    align-items: center;
    color: #1D1D2F;
}

.circle, .circle2{
    width: 400px;
    height: 400px;

}

.about2{
    background: url(./assets/vecto2.png);
}

.abouttext2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: nowrap;
    margin-top: 5em;
    background-color: #F3FFFA;
}

.abouttext2 h3{
    width: 241px;
    height: 48px;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #0F261D;
    background-color: #F3FFFA;
    
}

.story{
    width: 590px;
    height: 147px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1D1D2F;
    background-color: #F3FFFA;
}

.readmore{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #194030;
    background-color: #F3FFFA;
}



