*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body{
  overflow-x: hidden;
}

#buttons{
  background-color:#4CBF8F;
  border: none;
  padding: 0.5em;
}

.App {
  text-align: center;
}

.community{
  height: 70vh;
}

.community_text{
  text-align: justify;
}

.img img{
  width: 100%;
}

.header_text{
  font-size: 12px;
}

.testimonial_text{
  text-align: justify;
}

.controls{
  height: 10vh;
}

.carousel-control-prev, .carousel-control-next{
  width: 8% !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: #96969980 !important;
  border-radius: 50%;
}

.fa-quote-left, .fa-quote-right{
  color: #e8e8ea !important;
  font-size: 30px !important;
}

.fa-quote-right{
  float: right;
}

.fa-angle-left, .fa-angle-right{
  align-self: center;
  width: 20px;
  height: 20px;
  font-size: 6px !important;
  color: #111111B2;
  border: 1px solid #D2D2D5;
  border-radius: 50%;
  cursor: pointer;
}

.newsletter{
  background-image: url(./assets/about_us.png);
}

input.form-control{
  border-radius: 5px;
  border: none;
  background-color: #E9E9ED;
}

.banner{
  height: 450px;
  background-image: url(./assets/rectangle1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#rectangle{
  align-items: center;
  flex-direction: column;
}

.footer{
  background-color: #1D1D2F;
}

.footer .logo{
  align-self: center;
  display: inline;
  vertical-align: middle;
}

.footer_text{
  font-size: 10px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 800px){
  .footer .logo{
    text-align: center;
  }

  .footer_text{
    text-align: center;
  }

  .footer_link{
    text-align: justify;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

.footer_link p{
  color: #fff;
  padding: 0.5em;
}

.footer .nav-heading{
  text-transform: uppercase;
}

.footer .nav-link{
  color: #fff;
}

.footer .nav-link:hover{
  color: #4CBF8F;
}