*{
    font-family: 'Open Sans';
    font-style: normal;
    color: #505050;
}

.lecturers{
    background-color: #F3FFFA;
}


.aboutlecturer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    background-color: #F3FFFA;
   
}

.tutors{
    width: 380px;
    height: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;

}

.lecturers_text{
  
    width: 422px;
    height: 120px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    background-color: #F3FFFA;
}

button{
    background: #4CBF8F;
    border-radius: 5px;
}
