*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #505050;
}

.container {
    margin: 0 6%;
}

.navbar{
    background-color: #fff !important;  
    padding: 0;
}

.nav-link{
    color: #4CBF8F;
    margin: 0 10px;
}

.navbar-nav button a{
    text-decoration: none;
    color:#505050;
}

.navbar-nav button a:hover{
    background-color: #198754;
    color: #fff;
}